body{
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(239, 233, 233);
}

nav{
    
    color: blue;
    display: flex;
    justify-content: space-around;
    border-top:  0px groove rgb(248, 138, 156);
    border-bottom: 2px inset rgb(249, 120, 141);
    border-width: 3px;
    padding: 20px;
    background-color: pink;
    margin-left: 0;
    font-family: "Georgia", serif;
    box-shadow: 0 20px 40px pink;
}

/* le grand titre pour l'utilisateur "Bienvenue!"*/
#grand-titre{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 162, 178);
    text-shadow: 2px 2px 4px #333;
}

nav>a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-style:normal;
}
nav>a:hover{
    color: rgba(228, 100, 143, 0.711);
    transition: color 0.2s;
}


/* juste la couleur de mot gifties dans le paragraphe */
#mot-col{
    color:rgb(255, 162, 178);
    font-size: 25px;
    text-shadow: rgb(255, 162, 178) ;
    font-style: oblique;
}

/* le petit paragraphe d'introduction de gifties*/
.introduction >p{
    margin-left: 60px;
    color: black;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

@keyframes rotate {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

.promotion{
    text-align: center;
    border:3px groove pink;
    width: 25%;
}
.produits{
    border: 3px groove pink;
    width: 25%;
}


/* Apply the animation to the image */
.promotion img {
    width: 250px;
    animation: rotate 4s linear infinite; /* 4s duration, linear timing, infinite loop */
}

.produits img{
    width: 250px;

}
main{
    display: grid;
    grid-template-columns: 50% 50%;
}
/* le titre pour les produits "hot sales"*/
main h2{
    color:rgb(255, 162, 178);
    margin-left: 30px;
    font-style: unset;
    font-weight: bold;
    text-shadow:2px 4px 4px rgb(250, 173, 186);
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
}




footer{
    
    box-shadow:0px -10px 15px pink;

    bottom: 0;
    background-color: pink;
    display: flex;
    flex-shrink: 0;
    border-top: 3px solid rgb(253, 145, 163) ;
    width: 100%;
    justify-content: space-around;
}